<h1><%= @article.title %></h1>

<p><%= @article.text %></p>

<h2>Comments</h2>
<div id='comments-section'>
  <%= render @article.comments %>
</div>

<div id='comment-section'>
  <% if user_signed_in? %>
    <% if @comment %>
      <h2>Edit comment</h2>
      <%= render partial: 'comments/form', locals: {comment: @comment} %>
    <% else %>
      <h2>Add a comment</h2>
      <%= render partial: 'comments/form', locals: {comment: @article.comments.build} %>
    <% end %>
  <% end %>
</div>

<div id='user-section'>
  <%= link_to 'Edit', edit_article_path if user_signed_in? %>
  <%= link_to 'Articles', articles_path %>
</div>

<div id='admin-section'>
  <% if current_user.try(:admin?) %>
    <h3>Danger Zone</h3>
    <p>
      <%= link_to 'Delete', article_path(@article),
          method: :delete, data: { confirm: 'Are you sure, this can not be undone?'} %>
    </p>
  <% end %>
</div>
